.product-card {
    padding: 1%;
    width: 15%;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-weight: bold;
}

.toy-img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.toy-img:hover {
    transform: scale(1.1)
}

.name {
    margin: 0;
}

.price {
    margin: 0;
}