.header {
    display: flex;
    background-color: #FB7F0D;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.left-section {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: left;
    gap: 5%;
    margin-left: 5px;
}

.home-button {
    padding: 0;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    font-family: 'Chewy', sans-serif;
    font-size: 20px;
}

.header-button {
    width: 50px;
    padding: 0;
    border: none;
    background: none;
}

.logo {
    width: 70px;
}

.catalog {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.right-section {
    display: flex;
    width: 50%;
    justify-content: right;
}

.search-icon {
    width: 25px;
}

.cart-icon {
    width: 23px;
}