.footer {
    background-color: #FB7F0D;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: black;
    width: 100%;
    justify-content: space-between;
}

.copyright {
    margin: 0;
    font-size: 20px;
    padding: 1%;
}

.right-section {
    display: flex;
    font-size: 20px;
    margin-right: 3%;
    gap: 5%;
}
