.catalog-view {
  position: relative;
  width: 100vw;
  display: flex;
  align-items: flex-start;
}

.catalog-container {
  width: 100%;
  transition: 0.3s ease-in-out;
}

.category-title {
  margin: 3% 0;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  width: 100%;
  justify-content: space-evenly;

}


.categories-button{
  position: absolute;
  margin-left: 5px;
  top: 20px;
  background-color: #F8D1BC;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, background 0.3s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.categories-button:hover {
  background-color: #FB7F0D;
}

.categories-button.open {
  transform: translateX(20vw);
  }