body {
  width: 100vw;
  background-color: rgb(255, 159, 159);
}

:root {
  font-family: 'Fredoka', sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: black;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Chewy';
  src: url('/src/assets/fonts/Chewy/Chewy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fredoka';
  src: url('/src/assets/fonts/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fredoka';
  src: url('/src/assets/fonts/Fredoka/static/Fredoka-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
