 .dropdown {
  position: absolute;
  right: 0;
  background: #F8D1BC;
  border: none;
  border-radius: 4px 0 4px 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 30vw;
  padding: 1% 0;
  flex-direction: column;
}

.dropdown-sections {
    display: flex;
  }

.dropdown-section {
  flex: 1;
}

.filter-title {
  font-size: 16px;
  margin-bottom: 6px;
}
  
  
.filter-item {
    font-size: 14px;
    margin-bottom: 1.5%;
}

.filter-item:hover {
    color: #FB7F0D;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.reset {
    background: none;
    border: none;
    color: black;
    margin: 0 5%;
    padding: 0;
    text-align: right;
}

.reset:hover {
    color: #FB7F0D;
    text-decoration: underline;
    font-weight: bold;
}

@media screen and (max-width: 425px) {
  .dropdown {
    width: 80vw;
    padding: 1%;
  }

  .dropdown-sections {
    flex-direction: column;
  }

  .filter-title {
    font-size: 1.25em;
    margin: 1%;
  }

  .filter-item {
    font-size: 1em;
  }

  .reset{
    font-size: 0.75em;
  }

}

@media screen and (min-width: 1440px) {
  .dropdown {
    width: 30vw;
    padding: 1% 0;
  }

  .filter-title {
    font-size: 1.5em;
    margin: 2%;
  }

  .filter-item {
    font-size: 1.25em;
  }

  .reset {
    font-size: 1em;
  }
}